/* All style should go in this document. */

#wrapper{
	background-image: 
	linear-gradient(to bottom, black 50%, #141414, white);
	font-family: "Lucida Console", Monaco, monospace
}

#To_Top h3 a{
	text-decoration: none;
}
/*This should his original text*/
#To_Top h3 a:hover{
	font-size: 0;
}
/*This should replace original text*/
#To_Top h3 a:hover:before{
	font-size: 43px;
	content: attr(data-hover);
}


.Nav{
  background-color: #000;

}

.Nav a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  
}

.Nav a:hover{
	background: linear-gradient(to right, #0072BC, #A020F0, #CC00FF, deeppink, #C11B17, #FF8300, #FFFF00);
	
}

.Nav li{
	display: inline;
	text-align: center;
}

.Nav .container{
	padding-top: 9px;

}

.Jumbotron{
	background: cover;
	height: 1200px;
	background-image: url(http://cdn.desktopwallpapers4.me/wallpapers/abstract/1920x1200/1/3407-light-waves-1920x1200-abstract-wallpaper.jpg);
	background-repeat: no-repeat;
	
}

.Jumbotron .container{
	position: relative;
	
}

.Jumbotron h1{
	color: #fff;
	text-shadow: 6px 6px 3px #000;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	padding-top: 200px;
}

.About{
	color: #fff;
	text-align: center;
}

.About h3 a{
	font-size: 48px;
	color: #0072BC;
	text-shadow: 3px 3px 2px blue;
}

.About p{
	font-size: 22px;
	font-weight: bold;
}


.Contact{
	color: #C6C6C6;
	text-align: center;
}

.Contact h3 a{
	font-size: 48px;
	color: #A020F0;
	text-shadow: 3px 3px 2px purple;

}

.Contact p{
	font-size: 22px;
	font-weight: bold;
	
}

.Contact a{
	color: #d3d3d3;
}

.Education{
	color:#A8A8A8;
	text-align: center;
}

.Education h3 a{
	color: #CC00FF;
	font-size: 48px;
	text-shadow: 3px 3px 2px purple;
}

.Education p{
	font-size: 22px;
	font-weight: bold;
}

.Skills{
	color: #8A8A8A;
	text-align: center;
}

.Skills h3 a{
	color: deeppink;
	font-size: 48px;
	text-shadow: 3px 3px 2px #F32887;
}

.Skills p{
	font-size: 22px;
	font-weight: bold;

}

.Coursework{
	color: #3A3A3A;
	text-align: center;
}

.Coursework h3 a{
	color: #C11B17;
	font-size: 48px;
	text-shadow: 3px 3px 2px #990012;
}

.Coursework table th, td {
    border: 1px solid black;
    text-align: center;
}

.Coursework th,td {
    padding: 15px;
}

.Coursework table th{
	font-size: 26px;
	font-weight: bold;
	color: white;
}

.Coursework table td{
	font-size: 22px;
}

.Coursework caption{
	font-size: 30px;
	font-weight: bold;
}

.Work{
	color: #303030;
	text-align: center;
}

.Work h3 a{
	color: #FF8300;
	font-size: 48px;
	text-shadow: 3px 3px 2px #E18700;
}

.Work h2{
	font-size: 32px;
	font-weight: bold;
}

.Work p{
	font-size: 22px;
	font-weight: bold;
}

.Clubs{
	color: black;
	text-align: center;
}

.Clubs h3 a{
	color: #FFFF00;
	font-size: 48px;
	text-shadow: 3px 3px 2px #E18700;
}

.Clubs p{
	font-size: 22px;
	font-weight: bold;
}